
body {
    display: grid;
    grid-template-columns: 12% auto auto 12%;
    grid-template-rows: 12% auto auto 12%;
    height: 100vh;
    background-color: rgb(229,222,208);
    margin: auto;
    font-family: 'Shippori Mincho', serif;
}

ul {
    list-style-type: none;
}


/* .main {
    grid-row: 1;
    grid-column: 2 / span 2;
} */

.header-picture {
    height: 50vh;
    width: 100vw;
    border: solid;
    margin: auto;
}

header {
    grid-row: 1;
    grid-column: 2 / span 2;
    margin: 30px;
    padding: auto;
}

.about {
    margin: 30px;
    padding: auto;
    grid-row: 2;
    grid-column: 2 / span 2;
}
.projects {
    margin: 30px;
    grid-row: 3;
    grid-column: 2 / span 2;
}

.skills {
    margin: 30px;
    grid-row: 4;
    grid-column: 2 / span 2;
}

/* .contact {
    grid-row: 4;
    grid-column: 2 / span 2;
} */

