
body {
    display: grid;
    grid-template-columns: 12% auto auto 12%;
    grid-template-rows: 12% auto auto auto 12%;
    height: 100vh;
    margin: 0;
    font-family: 'Shippori Mincho', serif;
}


.nav-wrapper {
    background-color: #1b3752;
}

.about {
    grid-row: 2;
    grid-column: 2 / span 2;
    display: flex;
}

.about-me {
    grid-row: 3;
    grid-column: 2 / span 2;
    text-align: center;
}

.about img {
    height: 300px;
    width: 500px;
    margin: 10px; 
}

.projects {
    text-align: center;
    grid-row: 4;
    grid-column: 2 / span 2;
    border: solid;
    margin: 25px;
}

.projects img {
    margin: 10px;
}

#contact {
    grid-row: 5;
    grid-column: 2 / span 2;
}

